#!/usr/bin/env python
PACKAGE = 'hr_msgs'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
gen.add("keepalive", bool_t, 0, "Keepalive head motion", True)
# Eye saccades settings
gen.add("eye_saccade", bool_t, 0, "Eye saccades", True)
gen.add("eye_saccade_interval_min", double_t, 0, "Eye saccades interval(min)", 2.0, 1.0, 10.0)
gen.add("eye_saccade_interval_max", double_t, 0, "Eye saccades interval(max)", 4.0, 1.0, 10.0)
gen.add("eye_saccade_scale", double_t, 0, "Eye saccades scale", 1, 0.2, 5)
# Eye saccades settings
gen.add("blinking", bool_t, 0, "Blinking", True)
gen.add("blinking_interval_min", double_t, 0, "Blinking interval (min)", 4.0, 1.0, 10.0)
gen.add("blinking_interval_max", double_t, 0, "Blinking interval (max)", 6.0, 1.0, 10.0)
gen.add("blinking_speed", double_t, 0, "Blinking Speed", 1.0, 0.5, 2.0)

# package name, node name, config name
exit(gen.generate(PACKAGE, "blender_api", "Keepalive"))