#!/usr/bin/env python
##
## Copyright (C) 2017-2025 Hanson Robotics
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation, either version 3 of the License, or
## (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program.  If not, see <https://www.gnu.org/licenses/>.
##
PACKAGE = 'hr_msgs'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()

gen.add("eye_distance", double_t, 0, "Distance between the eyes in cm", 6.2, 3.0, 13.0)
gen.add("parallax_scale", double_t, 0, "Scale", 1.0, 0.0, 5.0)

# package name, node name, config name
exit(gen.generate(PACKAGE, "blender_api", "Parallax"))
